body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
}

.note-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

#notes {
  max-width: 600px;
  margin: 30px auto;
}

.note {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.note h2 {
  margin: 0 0 10px 0;
}
